@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@100;200;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100&family=Roboto:wght@100;300;400;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0% 10%;
}

h4{
  font-size: 1rem;
  color: rgb(56,56,56);
}

h3{
  font-size: 1.5rem;
  color: rgb(56,56,56);
  line-height: 2.5rem;
  margin: 2rem 0rem;
}

a{
  color: rgb(56,56,56);
  text-decoration: none;
}

